.empty-list {
    font-family: 'Original Surf', cursive;
    color: var(--color-secondary);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-categories {
    position: absolute;
    top: 20rem;
    left: 45rem;
    right: 45rem;
    bottom: 35rem;
    background-color: var(--color-background);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark);
}

.list {
    display: flex;
    justify-content: center;
}

.list .list-title {
    margin-top: 10rem;
    font-family: 'Original Surf', cursive;
    color: var(--color-secondary);
}

.list ul {
    list-style: none;
    margin-top: 15rem;
    width: 30vw;
    position: fixed;
    max-height: 60vh;
    overflow-y: scroll;
}

.list-icon {
    font-size: x-large;
}

.list-icon:hover {
    color: var(--color-iconhover);
}

#delete-category-icon{
    float: right;
}

#edit-category-icon {
    float: right;
}

#info-category-icon {
    float: left;
}

h2 {
    font-family: 'Original Surf', cursive;
    color: var(--color-secondary);
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

input, label {
    margin-top: 1rem;
    display: block;
    margin: auto;
    width: 25rem;
}

.form-inputs input {
    margin-top: 2rem;
    padding: 5px;
    border-radius: 5px;
}

.form-inputs label{
    font-size: large;
    color: var(--color-secondary);
    font-family: 'Original Surf', cursive;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.category-form .fabCloseFloatButton {
    color: var(--color-dark);
    background-color: var(--color-primary);
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.category-form .fabCloseFloatButton:hover {
    color: var(--color-dark);
    background-color: var(--color-primary-dark);
}

.category-form .submit-button {
    background-color: var(--color-primary);
    color: var(--color-dark);
    font-family: 'Original Surf', cursive;
    font-size: smaller;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 25rem;
}

.category-form .submit-button:hover {
    color: var(--color-dark);
    background-color: var(--color-primary-dark);
}

