.empty-list {
    font-family: 'Original Surf', cursive;
    color: var(--color-secondary);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-accounts {
    position: absolute;
    top: 15rem;
    left: 45rem;
    right: 45rem;
    bottom: 15rem;
    background-color: var(--color-background);
}

.overlay-accounts {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark);
}

.list .list-title {
    font-family: 'Original Surf', cursive;
    color: var(--color-secondary);
    margin-top: 10rem;
}

.list ul {
    margin-top: 15rem;
    list-style: none;
    overflow: hidden;
    width: 30vw;
    position: fixed;
    max-height: 60vh;
    overflow-y: scroll;
}


.list-item {
    display: grid;
}

.list-item .item-span p {
    font-family: 'Original Surf', cursive;
}

.list-item #category-span p {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.list-item #desc-span {
    margin-bottom: 2rem;
    background-color: var(--color-primary-dark);
    border-radius: 8px;
}

.list-item #desc-span p {
    float: left;
    grid-column: 1;
    grid-row: 1;
}

.list-item #desc-icon {
    float: left;
    font-size: large;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.list-item #desc-span span {
    grid-column: 2;
    grid-row: 1;
    float: right;
    margin-right: 12rem;
}

.list-item #pass-span {
    background-color: var(--color-primary-dark);
    border-radius: 8px;
}

.list-item #pass-span p {
    float: left;
    grid-column: 1;
    grid-row: 2;
}

.list-item #pass-icon {
    float: left;
    font-size: large;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.list-item #pass-span span {
    grid-column: 2;
    grid-row: 2;
    float: right;
    margin-right: 12rem;
}

#opt {
    background-color: var(--color-primary);
}

li .list-icon {
    font-size: x-large;
}

li #edit-icon {
    float: right;
}

li #delete-icon{
    float: right;
    margin-top: 0;
}

h2 {
    font-family: 'Original Surf', cursive;
    color: var(--color-secondary);
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

input, label, select {
    margin-top: 1rem;
    display: block;
    width: 25rem;
}

input, select {
    margin-top: 8px;
    padding: 5px;
    border-radius: 5px;
}

.modal-inputs {
    font-size: large;
    color: var(--color-secondary);
    font-family: 'Original Surf', cursive;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.account-form .fabCloseFloatButton {
    color: var(--color-dark);
    background-color: var(--color-primary);
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.account-form .fabCloseFloatButton:hover {
    color: var(--color-dark);
    background-color: var(--color-primary-dark);
}

.account-form .submit-account-button {
    background-color: var(--color-primary);
    color: var(--color-dark);
    font-family: 'Original Surf', cursive;
    font-size: smaller;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 25rem;
}

.account-form .submit-account-button:hover {
    color: var(--color-dark);
    background-color: var(--color-primary-dark);
}

