:root {
    font-size: 60%;

    --color-background: #272f3a;
    --color-primary: #66FCF1;
    --color-primary-dark: #45A29E;
    --color-secondary: #C5C6C7;
    --color-dark: #0B0C10;
    --color-iconhover: #646467;
}

li {
    width: 100%;
    text-align: center;
    font-family: 'Original Surf', cursive;
    background-color: var(--color-primary);
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
    width: 100vw;
}

body {
    background: var(--color-background);
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}